* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  color: rgb(56, 56, 56);
  line-height: 2.5rem;
  margin: 2rem 0;
}

h4 {
  font-size: 1rem;
  color: rgb(56, 56, 56);
}

a {
  color:rgb(56, 56, 56);
  text-decoration: none;
}

.nav {
  padding: 2em 0 4em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav svg {
  font-size: 2rem;
}

.logo {
  text-decoration: none;
  font-size: 2.75rem;
  font-weight: 400;
  font-family: 'Lobster Two', cursive;
}

.container {
  width: 90%;
  margin: 0 auto 2em;
  max-width: 1100px;
}

.btn-refresh {
  font-size: 2.25rem;
  cursor: pointer;
  margin: 1em 0;
}

.category-list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.category-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
  background: linear-gradient(35deg, #494949, #313131);
  height: 3rem;
  width: 3rem;
}

.category-link h4 {
  color: #fff;
  font-size: 0.8rem;
  display: none;
}

.category-link svg {
  color: #fff;
  font-size: 1.5rem;
}

.category-link.active {
  background: linear-gradient(to right, #f27121, #e94057);
}

.search-form {
  max-width: 800px;
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.search-form input {
  border: none;
  background: linear-gradient(35deg, #494949, #313131);
  color: #fff;
  padding: .6em 2em .6em .6em;
  border-radius: 1rem;
  outline: none;
  width: 100%;
  font-size: 1.25rem;
}

.search-form svg {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-120%, -50%);
  color: #fff;
  cursor: pointer;
}

.primary-card {
  border-radius: 2rem;
  position: relative;
}

.primary-card img {
  border-radius: 2rem;
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 100%;
}

.primary-card p {
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  bottom: 0;
  display: flex;
  width: 90%;
  height: 40%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.dark-image-gradient {
  position: relative;
}

.dark-image-gradient::after {
  content: '';
  position: absolute;
  left: 0; 
  top: 0;
  width: 100%; height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.5));
  border-radius: 2rem;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}

.secondary-card {
  text-decoration: none;
  width: 270px;
}

.secondary-card h4 {
  text-align: center;
  margin: 1em;
}

.secondary-card a {
  text-decoration: none;
}

.secondary-card img {
  width: 100%;
  border-radius: 2rem;
  border: 1px rgb(81, 100, 112) solid;
}

.detailed-recipe {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

.detailed-recipe p {
  font-size: 1.25rem;
  margin-top: 1em;
}

.detailed-recipe ul {
  margin-top: 1em;
}

.detailed-recipe li {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.btns {
  display: flex;
}

.tab-btn {
  margin-top: 1em;
  padding: 1rem 2rem;
  background-color: #fff;
  color: #313131;
  border: 2px #313131 solid;
  font-weight: 600;
}

.tab-btn.active {
  background: linear-gradient(35deg, #494949, #313131);
  color: #fff;
}

.image-wrapper {
  margin: 2em;
  margin-left: 0;
  float: left;
}

.image-wrapper h2 {
  width: 80%;
}

.image-wrapper img {
  border-radius: 2rem;
  margin: 1.5em 1.5em 0 0;
  width: 100%;
  height: 100%;
}

.instructions {
  text-align: justify;
}

.ingredient {
  line-height: 1.5;
  position: relative;
  left: 2em;
  width: calc(100% - 2em);
}

@media screen and (min-width:750px) {
  .category-list {
    justify-content: center;
    
  }
  .search-form {
    margin: 5rem auto;
    width: 60%;
  }
  .search-form input {
    font-size: 1.5rem;
  }
  .category-list {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 2rem 0;
  }
  .category-link {
    margin: 0 1em;
    height: 5.25rem;
    width: 5.25rem;
  }
  .category-link h4 {
    display: block;
  }
}

@media screen and (min-width: 1030px) {
  .detailed-recipe {
    display: block;
  }
}